<!-- THIS FILE CONTAINS ELEMENTS THAT EACH PAGE WILL HAVE INSIDE THE <head> TAG -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= tabTitle %>
</title>
<!-- STATIC FILES -->
<!-- <link rel="icon" type="image/x-icon" href="/assets/site_logo.png"> -->
<link rel="stylesheet" href="/styles/global/main.css" />
<!-- <link rel="stylesheet" href="/styles/global/reset.css" /> -->