body{
    width: 100%;
    height:100%;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

main,
header {
    width: 80%;
    margin: 0 auto;
    padding: 1em 3em;
    box-sizing: border-box;
    background: #f9f9f9;
    border-radius: 1em;
    text-align: center;
    box-shadow: 1px 1px 5px #888;
    display: flex;
    justify-content: space-between;
}

.user-form {
    justify-content: center;
    margin: auto;
}

#flex-grid {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.des-card {
        border-radius: 20px;
        width: 25%;
        min-width: 300px;
        margin: 2em 0;
        padding: 3em;
       
}



#createForm {
    display: flex;
    flex-direction: column;
}

#createForm input {
    margin-bottom: 5px;
}



/* ================ */
/*      INDEX       */
/* ================ */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2em 0;
    font-family: 'Inconsolata', courier;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.list-container {
    display: flex;
    justify-content: space-between;
}

.list-right {
    text-align: left;
    padding-left: 10px;
    margin: 0;
}

li {
    width: 300px;
    margin: 1em auto;
}

li a {
    color: rgb(36, 32, 35);
    text-shadow: 1px 1px #eee;
    font-size: 1.1em;
    padding-bottom: 0.3em;
}

li a:after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    margin-top: 0.2em;
    background: #ccc;
    transition: 0.7s ease-in-out;
}

li a:hover:after {
    width: 100%;
}

li a img {
    max-width: 300px;
}

main h1 {
    display: inline-block;
    color: rgb(40, 37, 39);
    border-bottom: 4px solid rgb(198, 190, 190);
    padding-bottom: 0.2em;
    width: 80%;
    margin-bottom: 0.5em;
}

main>div {
    width: 80%;
    margin: auto
}

main.show-main {
    display: block;
}

main.show-main button {
    display: inline;
}

.list-items {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
